extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Welcome to our exquisite world of curated getaways! At Explore Inn , we're your passport to unforgettable experiences amidst nature's embrace. Discover a handpicked selection of idyllic farmhouses, luxurious resorts, and charming lodges that beckon you to unwind and rejuvenate. Our mission is to transform your travel dreams into reality, crafting tailored escapes that resonate with your desires. Immerse yourself in the serenity of lush landscapes, indulge in local flavors, and create cherished memories with loved ones. Let us guide you on a journey of tranquility and adventure, as you embark on a voyage of discovery with every booking.