extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | ExploreIn
          small &nbsp;Find places to enjoy your vaccations
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/location') Oak Wood 
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 10 km
          p.address Venkatapuram Telengana
          p
            span.label.label-warning Pet Friendly
            | &nbsp;
            span.label.label-warning Free wifi
            | &nbsp;
            span.label.label-warning Swimming Pool
            | &nbsp;
            span.label.label-warning Parking Available 
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location2') Brown Town
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 20km
          p.address kanakamadi village, hyderabad
          p
            span.label.label-warning Private pool
            | &nbsp;
            span.label.label-warning Free wifi
            | &nbsp;
            span.label.label-warning Breakfast complimentary
            | &nbsp;
            span.label.label-warning Pet Friendly 
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location3') Palm Exotica
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 25km
          p.address Shankarpally , Hyderabad
          p
            span.label.label-warning Private pool
            | &nbsp;
            span.label.label-warning Premium wifi
            | &nbsp;
            span.label.label-warning Luxurious Suites
            | &nbsp;
            span.label.label-warning Wild Waters
            | &nbsp;
    .col-xs-12.col-sm-4
      p.lead
        | Looking for a staycation ? Here we have bought you an all together website where you can get the details of different staycations